@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  height: auto;
}

md-content {
  background-color: black;
  color: white;
  width: 100%;
}

md-card {
  background-color: black;
}

input {
  background-color: black;
  color: white;
  margin-top: 2%;
  padding: 1%;
  border: none;
  border-bottom: 1px solid green;
  /*width: 90%;*/
}

form {
  flex-direction: row;
  align-self: center;
  align-items: center;
  width: 100%;
}

.content {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

img {
  max-width: 500px;
  max-height: 300px
}

p, h3 {
  max-width: 600px;
}

.points {
  color: coral;
}
