@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  height: 100vmin;
}

md-content {
  background-color: black;
  color: white;
  width: 100%;
}

input {
  background-color: black;
  color: white;
  margin-top: 2%;
  padding: 1%;
  border: none;
  border-bottom: 1px solid green;
  width: 50%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

img {
  max-width: 500px;
  max-height: 300px;
}

p, h3 {
  max-width: 600px;
}

.content {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100vmin;
}

.prompt {
  font-size: 1.3em;
}

.points {
  color: coral;
}

a:link {
  text-decoration: none;
}
